<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre | Home</title>
  </head>
  <body>
    <header>
      <img src="/images/logo-mercado-liebre.svg" alt="LOGO" />
      <h3>Lugar para poner barra de Busqueda</h3>
      <h3>compra en cuotas y sin tarjetas de crédito</h3>

      <ul>
        <li><a href="#">ofertas</a></li>
        <li><a href="#">Tienda oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
      <ul>
        <li><a href="#">Crea tu cuenta</a></li>
        <li><a href="#">Ingresá</a></li>
        <li><a href="#">Mis compras</a></li>
      </ul>
    </header>
    <main>
      <section>
        <h3>Basado en tu ultima visita</h3>
        <article>
          <img
            src="/images/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />
          <p>
            $6.770 <br />
            40% OFF <br />
          </p>
          <h4>Cafetera Moulinex</h4>
        </article>
        <article>
          <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" />
          <p>
            $230.000 <br />
            20% OFF <br />
          </p>
          <h4>MacBook Pro 2019</h4>
        </article>
        <article>
          <img
            src="/images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
          <p>
            $70.500 <br />
            10% OFF <br />
          </p>
          <h4>Samsung Galaxy S10</h4>
        </article>
        <article>
          <img
            src="/images/img-tv-samsung-smart.jpg"
            alt="SmartTV Samsung 43 pulgadas "
          />
          <p>
            $23.000 <br />
            5% OFF <br />
          </p>
          <h4>SmartTV Samsung 43"</h4>
        </article>
      </section>
      <section>
        <h3>Seccion de Ofertas</h3>
        <article>
          <img
            src="/images/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />
          <p>
            $6.770 <br />
            40% OFF <br />
          </p>
          <h4>Cafetera Moulinex</h4>
        </article>
        <article>
          <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" />
          <p>
            $230.000 <br />
            20% OFF <br />
          </p>
          <h4>MacBook Pro 2019</h4>
        </article>
        <article>
          <img
            src="/images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
          <p>
            $70.500 <br />
            10% OFF <br />
          </p>
          <h4>Samsung Galaxy S10</h4>
        </article>
        <article>
          <img
            src="/images/img-tv-samsung-smart.jpg"
            alt="SmartTV Samsung 43 pulgadas "
          />
          <p>
            $23.000 <br />
            5% OFF <br />
          </p>
          <h4>SmartTV Samsung 43"</h4>
        </article>
      </section>
    </main>
    <footer>
      <section>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>
          Con MercadoLiebreCash, tenes cuotas sin <br />
          interés con tarjetas o esfectivo en puntos de <br />pago. ¡Y siempre
          es seguro!
        </p>
      </section>
      <section>
        <h3>Envío gratis desde $ 2.500</h3>

        <p>
          Solo por estar registrado en Mercado Liebre <br />
          tenes envíos gratis a miles de productos. Es <br />
          un beneficio de Mercado Liebre.
        </p>
      </section>
      <section>
        <h3>Seguridad de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En MercadoLiebre, <br />
          no hay nada que no puedas hacer, porque estás <br />
          siempre protegid@.
        </p>
        <p>Copyrigth © 1999-2020 MercadoLiebre S.R.L</p>
      </section>
    </footer>
  </body>
</html>
