<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercado Liebre | Home</title>
  <script src="https://kit.fontawesome.com/d797b1fcfc.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/d797b1fcfc.js" crossorigin="anonymous"></script>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&family=Open+Sans&family=Raleway:wght@400;700&family=Roboto&family=Work+Sans:ital,wght@1,300&display=swap");
  </style>
</head>

<body>
  <header class="header">
    <div class="header__logo">
      <img src="/images/logo-mercado-liebre.svg" alt="LOGO">
      <div class="alineacion">
        <input class="text" type="text" placeholder="Buscar Productos, Marcas">
        <div class="header__logo__busqueda">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>
    </div>
    <h5>
      <i class="fa-solid fa-hand-holding-dollar"></i> compra en cuotas y sin
      tarjetas de crédito
    </h5>
    <nav class="header__seccion">
      <ul>
        <li><a href="#">ofertas</a></li>
        <li><a href="#">Tienda oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
      <ul>
        <li>
          <a href="#">Crea tu cuenta <i class="fa-regular fa-address-card"></i></a>
        </li>
        <li>
          <a href="#">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
        </li>
        <li>
          <a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
        </li>
      </ul>
    </nav>
    <nav>
      <div class="hamburguesa">
        <a href="#" class="header__bars">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </nav>
    <div class="main_banner">
      <img src="/images/img-home-banner.jpg" alt="banner">
    </div>
  </header>
  <main class="main">
    <section class="main_section">
      <h3 class="basado_ultima_compra">Basado en tu última visita</h3>
      <article class="article_1">
        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex"> 
        <div class="camion"> <i class="fa-solid fa-truck"></i> </div>
        <div class="container">
          <p class="main_section_precio">
            $6.770 </p>
          <p class="main_descuento">40% OFF </p>
          <h4>Cafetera Moulinex</h4>
        </div>
      </article>
      <article class="article_1">
        <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
        <div class="container">
          <div class="camion"> <i class="fa-solid fa-truck"></i> </div>
          <p class="main_section_precio">
            $230.000 </p>
          <p class="main_descuento">20% OFF </p>
          <h4>MacBook Pro 2019</h4>
        </div>
      </article>
      <article class="article_1">
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
        <div class="container">
          <div class="camion"> <i class="fa-solid fa-truck"></i> </div>
          <p class="main_section_precio">
            $70.500 </p>
          <p class="main_descuento">10% OFF</p>
          <h4>Samsung Galaxy S10</h4>
        </div>
      </article>
      <article class="article_1">
        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTV Samsung 43 pulgadas ">
        <div class="container">
          <div class="camion"> <i class="fa-solid fa-truck"></i> </div>
        <p class="main_section_precio">
          $23.000 </p>
        <p class="main_descuento"> 5% OFF </p>
        <h4>SmartTV Samsung 43"</h4>
      </div>
      </article>
    </section>
    <section class="main_section">
      <h3>Seccion de Ofertas</h3>
      <article class="article_1">
        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
        <div class="container">
          <div class="camion"> <i class="fa-solid fa-truck"></i> </div>
        <p class="main_section_precio">
          $6.770 </p>
        <p class="main_descuento"> 40% OFF</p>
       <h4>Cafetera Moulinex</h4>
      </div>
      </article>
      <article class="article_1">
        <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
        <div class="container">
          <div class="camion"> <i class="fa-solid fa-truck"></i> </div>
        <p class="main_section_precio">
          $230.000 </p>
        <P class="main_descuento">20% OFF</P>
        <h4>MacBook Pro 2019</h4>
      </div>
      </article>
      <article class="article_1">
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
        <div class="container">
          <div class="camion"> <i class="fa-solid fa-truck"></i> </div>
        <p class="main_section_precio">
          $70.500 </p>
        <P class="main_descuento">10% OFF</P>
        <h4>Samsung Galaxy S10</h4>
      </div>
      </article>
      <article class="article_1">
        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTV Samsung 43 pulgadas ">
        <div class="container">
          <div class="camion"> <i class="fa-solid fa-truck"></i> </div>
        <p class="main_section_precio">
          $23.000</p>
        <P class="main_descuento">5% OFF</P>
        <h4>SmartTV Samsung 43"</h4>
      </div>
      </article>
    </section>
  </main>
  <footer class="footer_section">
    <section class="footer_section">
      <i class="fa-solid fa-credit-card"></i>
      <h4>Pagá con tarjeta o en efectivo</h4>
      <p>
        Con MercadoLiebreCash, tenes cuotas sin <br>
        interés con tarjetas o esfectivo en puntos de <br>pago. ¡Y siempre
        es seguro!
      </p>
    </section>
    <section class="footer_section">
      <i class="fa-solid fa-gift"></i>
      <h4>Envío gratis desde $ 2.500</h4>

      <p>
        Solo por estar registrado en Mercado Liebre <br>
        tenes envíos gratis a miles de productos. Es <br>
        un beneficio de Mercado Liebre.
      </p>
    </section>
    <section class="footer_section">
      <i class="fa-solid fa-user-shield"></i>
      <h4>Seguridad de principio a fin</h4>
      <p>
        ¿No te gusta? ¡Devolvelo! En MercadoLiebre, <br>
        no hay nada que no puedas hacer, porque estás <br>
        siempre protegid@.
      </p>
      </section>
      <p>Copyrigth © 1999-2020 MercadoLiebre S.R.L</p>
  </footer>
</body>

</html>