*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

:root {
    --tipografia: 'Roboto';
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGris: #ebebeb;
    --colorVerde: #30b54a;
}

body{
    font-family: var(--tipografia);
    font-size: 12px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #ebebeb;
}

main {
    width: 90%;
    padding: 10px;
    gap: 10px;
}

img{
    width: 100%;
    /* display: flex;
    align-items: center; */
}

input{
    margin-top: 6px;
    margin-bottom: 3px;
    width: 194px;
    height: 16px;
    font-size: 15px;
    border: 1px solid black;
}

li {
    list-style: none; /* viñetas */
    margin-left: 0%;
}

a {
    padding: 1px;
    text-decoration: none; /* Subrayado */
    color: #141414;
    font-size: 12px;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1px; 
    margin-block-end: 1em;
    margin-inline-start: 60px;
    padding-bottom: 10px;
}

h3{
    font-size: 24px;
    margin-block-start: 1em;
    margin-inline-start: 43px;
    font-weight: bold;
    color: var(--colorGrisOscuro);
}
h4{
   font-size: 16px; 
   color: var(--colorGrisOscuro);
  padding: 10px 0;
}

p {
    font-size: 16px;
}
