.header__logo{
    width: 50%;
    padding-left: 7%;
    padding-top: 5%
}

.header__logo input {
  border: 1px solid var(--colorGrisOscuro);
  border-radius: 3px;
}

.header__logo__busqueda{
     padding: 2px;
    font-size: 10px;
    background-color: var(--colorGris);
    width: 1em;
    border: 1px solid var(--colorGrisOscuro); 
    border-radius: 3px;
}
 
.header__seccion ul{
  padding: 0;
}

.hamburguesa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__bars {
  background-color: var(--colorAzul);
  padding: 5px 3px;
  border-radius: 5px;
  font-size: 1.5rem;
  flex-wrap: wrap;
  width: 36px;
  height: 42px;
  box-sizing: border-box;
}

.header__bars i {
  color: #ffffff;
  margin: 4px;
  
}