.header__logo{
    width: 50%;
    padding-left: 7%;
    padding-top: 5%
}

.header__logo__busqueda{
    padding: 2px;
    font-size: 10px;
    background-color: #ebebeb;
    width: 1em;
    border: 1px solid black;
}
 
.header__seccion ul{
  padding: 0;
}

.hamburguesa{
  display: flex;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.cuadrado {
  width: 4px;
  height: 4px;
  background-color: #03264c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px;
  border-radius: 10px;
  align-content: flex-end;
}

.fa-bars:before, .fa-navicon:before { /* Este codigo lo sque de "Inspeccionar" de google */
  content: "\f0c9";
  color: #ffffff;
  font-size: 24px;
}
