.home__header{
    width: 200px;
    right: 40px;
    padding: 15px;
    font-family: var(--tipografia);
    font-size: 12px;
    
}

.home__header h3{
    font-size: 18px;
    font-weight: 12px;
}

.home__header ul li{
    font-size: 16px;
    font-weight: 12px;
    list-style: none;
    padding-inline-start: 10px;
    
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.main__seccion h3{
    font-size: 24px;
}

.main__seccion p {
    font-size: 16px;
}