main {
    background-color: rgb(255, 255, 255);
    margin: 16px;
    /* gap: 10px; */
}

.main_banner{
  width: 100%;
  height: 100px;
  margin-top: 10px;
}

.main .main_section {
    margin: 2px;
    padding: 1px;
    background-color: #f7f7f7;
    
}

.main_section_precio {
   font-size: 18px;
   margin: 0;
}

.main_descuento {
    color: var(--colorVerde);
    padding: 0;
    margin: 0;
    font-size: 16px
}

.basado_ultima_compra {
    font-size: 24px;
    margin-block-start: 1em;
    margin-inline-start: 10px;
    font-weight: bold;
}

.article_1 {
 margin: 10px 0;
 box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.camion {
    border: 1px solid var(--colorVerde);
    border-radius: 50%; 
    width: 60px;
    height: 60px;
    padding: 7px;
    font-size: 20px;
    color: var(--colorVerde);
}

.container {
    margin: 15px;
}



footer{
    background-color: #ffffff;
    margin: 10px; 
}
 .footer_section {
    padding: 15px;
    margin: 10px 5px;
    text-align: center;
    text-indent: 15px;
}

.footer_section i {
    color: var(--colorCeleste);
    display: flex;
    height: 1px;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 2em;
   
}

.footer_section p {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    margin-block-start: 0em;
    margin-inline-start: 10px;

}

.footer_section h4 {
    margin-bottom: 0;
    margin-block-start: 2em;
    margin-inline-start: 10px;
} 

/* TABLET 768 X 768 */
@media (min-width: 361px){
    .main .main_section {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        padding-left: 17px;
        justify-content: center;
    }

    main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
    }

   

}
