main {
    background-color: rgb(255, 255, 255);
}

.main_banner{
  width: 100%;
 margin-top: 10px; 
  right: 10px;
  bottom: 35px;
}

.main img {
    width: 90%;
}

.main .main_section {
    margin: 3px;
    padding: 0 5%; 
    background-color: #f7f7f7;
    
}

.main_section_precio {
   font-size: 18px;
   margin: 0;
}

.main_descuento {
    color: var(--colorVerde);
    padding: 0;
    margin: 0;
    font-size: 16px;
    /* position: relative; */
    top: 1px;
}

.basado_ultima_compra {
    font-size: 24px;
     margin-block-start: 1em;
    margin-inline-start: 10px; 
    font-weight: bold;
}

.article_1 {
 margin: 10px 0;
}

.container i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -23px;
    color: #39b54a;
    transition: all 3sg;
}

.container i:hover {
    transform: rotate(300deg);
}

.container {
    display: flex;
    margin: 6px;
    position: relative;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
} 

.container h4 {
    height: 0;
    color: var(--colorGrisOscuro);
    font-size: 16px;
   transition: all 2s;
   overflow: hidden;
   height: 0px;
   width: 100%;
}

.main_descuento {
    flex-direction: row;
    gap: 10px;
}

footer{
    background-color: #ffffff;
    margin: 10px;
    width: 100%;
}
 .footer_section {
    padding: 10px;
    margin: auto;
    text-align: center;
}

.footer_section i {
    color: var(--colorCeleste);
    display: flex;
    height: 1px;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 2em;
   
}

.footer_section p {
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    margin-block-start: 2em;
    margin-inline-start: 1px;
}

.fotter_h4{
    font-size: 16px; 
    color: var(--colorGrisOscuro);
    top: 27px;
    position: relative;
 }

 main {
    background-color: red;
 }


/* TABLET 768 X 768 */
@media (min-width: 361px){
     .main_section {
        display: flex;
        flex-wrap: wrap; /* Respeta el ancho de tus hijos */
        justify-content: space-between;
       /*  margin-top: 20px; */
    }
    main{ 
        /* justify-content: center;
        align-items: center; */
        margin: auto;
        width: 90%;
       /*   top: 79px;  */
        /* flex-direction: column; */
    }
       
       
    .article_1{
        width: 49%;
        transition: all 2s;
        
    }

    .article_1:hover{
        box-shadow: 0px 0px 15px rgb(100, 100, 100);
    }

    .container {
        height: 75px;
    }
     .container:hover h4 {
       height: 50px;
    } 

    .main_banner {
        height: 150px;
        /*  display: flex;
        position: relative; */
        position: relative;
        bottom: 60px;
        /* bottom: 20px; */
    }

    img {
        width: 100%;
    }

    h3 {
        width: 100%;
    }

    footer {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    footer section{
        width: 25%;
    }
    footer p{
        width: 100%;
        margin-top: 25px;
        text-align: center;
    }
}


@media (min-width: 1024px){

     main {
        height: auto;
        position: relative;
        top: 73px;
    }  
    .main_section {
         height: auto;
         
        }
    .article_1{
    width: 23%;
   } 

   h3 {
    display: flex;
    flex-direction: row;
   }
   footer section{
    width: 28%;
}

 
}