main {
    background-color: rgb(255, 255, 255);
    margin: 10px;
}

.main .main_section {
    margin: 2px;
    padding: 1px;
    background-color: #ffffff;
    
}

.main_section p {
   font-size: 18px;
}

.basado_ultima_compra {
    font-size: 24px;
    margin-block-start: 1em;
    margin-inline-start: 10px;
    font-weight: bold;
}

footer{
    background-color: #ffffff;
    margin: 10px; 
}
 .footer_section {
    padding: 15px;
    margin: 10px 5px;
    text-align: center;
    text-indent: 15px;
}

.footer_section i {
    color: #1259c3;
    display: flex;
    height: 1px;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 2em;
   
}

.footer_section p {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    margin-block-start: 0em;
    margin-inline-start: 10px;

}

.footer_section h4 {
    margin-bottom: 0;
    margin-block-start: 2em;
    margin-inline-start: 10px;
} 